html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/*MENU CSS copiado del webase*/

.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
}

.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}

.menuCSS3 a:hover {
    background-color: #CC673B;
}

.menuCSS3 ul li ul {
    display: none;
}

.menuCSS3 ul li a:hover+ul,
.menuCSS3 ul li ul:hover {
    display: block;
}


/*FIN COPIADO*/

.fondo {
    background-image: url("fondo.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#Regcontainer {
    width: 1200em;
    position: relative;
    margin: 70em auto;
    border: 1em solid;
    background-color: aliceblue;
    top: 0;
}

.Regcontainer h1 {
    font-size: 40px;
    font-family: 'Caveat', ;
    color: black;
    line-height: 1;
    padding-left: 35em;
    padding-top: 35em;
    color: black;
}

input {
    display: inline-block;
    margin: 10px;
    width: 80%;
    background-color: rgb(199, 199, 199);
}

input[type=text] {
    padding: 5px;
    border: 2px solid #212;
    border-radius: 2px;
    box-shadow: #212121;
    padding: 5px 10px 5px 10px;
}

input[type=password] {
    padding: 5px;
    border: 2px solid #212;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
}

input[type=email] {
    padding: 5px;
    border: 2px solid #212;
    border-radius: 2px;
    box-shadow: #212121;
    padding: 5px 10px 5px 10px;
}

input[type=submit] {
    background-color: #ff0000;
    border: 1px solid #212121;
    border-radius: 5px;
    color: aliceblue;
    padding: 10px 10px 10px 10px;
}

#back_form {
    justify-content: center;
}

.btn {
    color: #000000 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20em;
    border: 2px solid #000000 !important;
    display: inline-block;
    transition: all 0.9s linear 0s;
    position: static;
    width: 100%;
    /*He quitado el Left 60 y lo he puesto static PD: miguel*/
}

.btn:hover {
    color: #ff0000 !important;
    background: #000000;
    border-color: #ca0e0e !important;
    transition: all 0.4s linear 0s;
}

.btn:active {
    color: #ff0000 !important;
    background: #000000;
    border-color: #ca0e0e !important;
    transition: all 0.4s ease 0s;
    -webkit-box-shadow: inset 0px 0px 15px #afabab;
    -moz-box-shadow: inset 0px 0px 15px #afabab;
    box-shadow: inset 0px 0px 15px #afabab;
}

.RegForm {
    border: black 3px solid;
    border-radius: 7%;
    margin-top: 100px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 7px 5px #272727;
    -moz-box-shadow: 0px 0px 7px 5px #272727;
    box-shadow: 0px 0px 7px 5px #272727;
}

input:focus {
    background-color: white;
    transition: all 2s ease 0s;
}